@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600 underline;
  }

  ul {
    @apply mx-6 my-4 list-disc;
  }

  ol {
    @apply mx-6 my-4 list-decimal;
  }

  blockquote > p {
    @apply my-4 text-base font-medium italic before:content-['"'] after:content-['"'];
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  img {
    @apply w-2/4;
  }
}

@layer base {
  :root {
    --primary: #1b4aef;
    --secondary: #e4eaf1;
    --secondary-alpha: #ffffff8a;
    --background: #f7f7f7;
    --background-alpha: #f7f7f78a;
    --foreground: #484848;
    --primary-500: #4b84fd;
    --primary-300: #73a7fb;
    --danger: #d8514b;
    --highlight: #000000;
  }

  .dark {
    --primary: #003f5c;
    --secondary: #131314;
    --secondary-alpha: #1313148a;
    --background: #1e1f20;
    --background-alpha: #1e1f208a;
    --foreground: #a2a2a2;
    --primary-500: #0084c3;
    --primary-300: #0092d6;
    --highlight: #dddddd;
  }
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
  font-weight: 300;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

/* Estilos para el thumb del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* Color del thumb */
  border-radius: 3px; /* Borde redondeado del thumb */
}

/* Estilos para el thumb del scrollbar al hacer hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Color del thumb al hacer hover */
  width: 10px;
}

/* Estilos para el track del scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent; /* Color del track */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: var(--background);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--background);
}
