@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600 underline;
  }

  ul {
    @apply mx-6 my-4 list-disc;
  }

  ol {
    @apply mx-6 my-4 list-decimal;
  }

  blockquote > p {
    @apply my-4 text-base font-medium italic before:content-['"'] after:content-['"'];
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  img {
    @apply w-2/4;
  }
}

@layer base {
  :root {
    --primary-color: #1b4aef;
    --secondary-color: #f0f4f9;
    --secondary-color-alpha: #ffffffb0;
    --background-alpha: #ffffffb0;
    --background: #ffffff;
    --foreground: #26262c;
    --custom-blue: #73a7fb;
  }

  .dark {
    --secondary-color: #292a33;
    --secondary-color-alpha: #292a33b0;
    --background-alpha: #343540b0;
    --background: #343540;
    --foreground: #fafafa;
  }
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
  font-weight: 300;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

/* Estilos para el thumb del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* Color del thumb */
  border-radius: 3px; /* Borde redondeado del thumb */
}

/* Estilos para el thumb del scrollbar al hacer hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Color del thumb al hacer hover */
  width: 10px;
}

/* Estilos para el track del scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent; /* Color del track */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: var(--background);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--background);
}
