.chatBubble {
  border-radius: 15px;
  padding: 8px;
  width: auto;
  max-width: 80%;
}

.userBubble {
  align-self: end;
  background: linear-gradient(90deg, #2870ea 10.79%, #1b4aef 87.08%);
  color: #ffffff;
  border-bottom-right-radius: 0px;
}

.assistantBubble {
  padding-top: 16px;
  align-self: start;
  background-color: #eaeaea;
  color: #3f3f3f;
  border-bottom-left-radius: 0px;
}
