.chatBubble{
    border-radius: 15px;
    padding: 8px;
    width: auto;
    max-width: 70%;
    box-shadow: 4px 4px 15px -2px rgba(161,161,161,0.5);
}

.userBubble{
    align-self: end;
    background: linear-gradient(90deg, #2870EA 10.79%, #1B4AEF 87.08%);
    color: #FFFFFF;
    border-bottom-right-radius: 0px;
} 

.assistantBubble{
    align-self: start;
    background-color: #EAEAEA;
    color: #3F3F3F;
    border-bottom-left-radius: 0px;
}